[submodule "bootloader"]
	path = bootloader
	url = git@github.com:TheJaat/TheBootloader.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:TheJaat/TheKernel.git
[submodule "toolchain"]
	path = toolchain
	url = git@github.com:TheJaat/TheToolchain.git
